@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #080808;
    color: #fff;
}

.center {
    margin: auto;
    width: 50%;
}

.pat-image {
    width: 150px;
}

.center img {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.test {
    margin: 0;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.achievement-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
    /* background-color: #333; */
    color: #fff;
    font-size: 18px;
    padding: 10px;
}

.achievement-box img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    visibility: hidden;
}